<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314903055891-atdvd6pttsled1r0irnrlvlph7anmhu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314903055891-atdvd6pttsled1r0irnrlvlph7anmhu4</string>
	<key>API_KEY</key>
	<string>AIzaSyAwUO9mhVkiDTXl8KxaazV5ugvYJanz1SA</string>
	<key>GCM_SENDER_ID</key>
	<string>314903055891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.engquiz</string>
	<key>PROJECT_ID</key>
	<string>quizapp-638ce</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-638ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314903055891:ios:ac61ed129e9a164962f9e6</string>
</dict>
</plist>